.main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white url('https://drscdn.500px.org/photo/57940682/m%3D2048/8f6958e5128c829bfabc32e535051ad4') 100% 100% no-repeat;
    background-size: cover;

}

h1 {
    color: white;
    background-color: white;
    display: block;
    padding: 1rem;
    font-family: cursive;
    margin-top: 0;
    color: #490000
}
